<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="SocketServerConfiguration" type="SocketService.Framework.Configuration.SocketServiceConfiguration, SocketService.Framework" />
  </configSections>
  
  <appSettings>
    <add key="ServerMessageQueue" value=".\Private$\SocketService.CommandQueue"/>
  </appSettings>
  
  <log4net debug="false">
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <param name="LogName" value="Application" />
      <param name="ApplicationName" value="Blazing Sockets Messaging Server" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <priority value="DEBUG" />
      <appender-ref ref="EventLogAppender" />
    </root>
  </log4net>

  <SocketServerConfiguration ListenPort="4000">
    <Plugins />
  </SocketServerConfiguration>
  
</configuration>