<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
		<section 
			name="SocketServerConfiguration" 
			type="SocketServer.Configuration.SocketServerConfiguration, SocketServer" />
		<!--<section
			name="HandlersSection"
			type="SocketServer.Core.Configuration.RequestHandlerConfigurationSection, SocketServer.Core"
		/>-->
	</configSections>
	
	<!--<appSettings>
		<add key="ServerMessageQueue" value=".\Private$\SocketService.CommandQueue"/>
	</appSettings>-->

	<!--<HandlersSection>
		<Handlers>
			<add requestTypeTag="NegotiateKeysRequest"
				 requestType="SocketServer.Shared.Request.NegotiateKeysRequest, SocketServer.Shared"
				 handlerType="SocketServer.Handler.NegotiateKeysRequestHandler, SocketServer" />

		</Handlers>
	</HandlersSection>-->
	
	<log4net>
			<appender name="DebugAppender" type="log4net.Appender.DebugAppender">
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%d{MM/dd/yyyy HH:mm:ss.fff} [%p] %c{1}: %m%n" />
				</layout>
			</appender>
			<appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
				<mapping>
					<level value="FATAL" />
					<foreColor value="Red" />
					<backColor value="White" />
				</mapping>
				<mapping>
					<level value="ERROR" />
					<foreColor value="Red, HighIntensity" />
				</mapping>
				<mapping>
					<level value="WARN" />
					<foreColor value="Yellow" />
				</mapping>
				<mapping>
					<level value="INFO" />
					<foreColor value="White, HighIntensity" />
				</mapping>
				<mapping>
					<level value="DEBUG" />
					<foreColor value="White" />
				</mapping>
				<mapping>
					<level value="FINER" />
					<foreColor value="Purple" />
				</mapping>
				<mapping>
					<level value="FINEST" />
					<foreColor value="Purple" />
				</mapping>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%d{MM/dd/yyyy HH:mm:ss.fff} [%p] %c{1}: %m%n" />
				</layout>
			</appender>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="logfile" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<datePattern value="yyyyMMdd-HHmm" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
		<root>
				<level value="INFO" />
				<appender-ref ref="ConsoleAppender" />
				<appender-ref ref="DebugAppender" />
			</root>
	</log4net>

	<SocketServerConfiguration ListenPort="4000">
		<Queues>
			<add name="ServerMessageQueue" path=".\Private$\SocketService.CommandQueue"/>
		</Queues>
		<Handlers>
			<add key="NegotiateKeysRequest"
				 requestType="SocketServer.Shared.Request.NegotiateKeysRequest, SocketServer.Shared"
				 handlerType="SocketServer.Handler.NegotiateKeysRequestHandler, SocketServer" />
			<add key="LoginRequest"
				 requestType="SocketServer.Shared.Request.LoginRequest, SocketServer.Shared"
				 handlerType="SocketServer.Handler.LoginRequestHandler, SocketServer" />
		</Handlers>
		<Plugins />
	</SocketServerConfiguration>

	<connectionStrings>
		<add name="ServerDataEntities" connectionString="metadata=res://*/Data.ServerDataModel.csdl|res://*/Data.ServerDataModel.ssdl|res://*/Data.ServerDataModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;Data Source=..\..\..\Database\ServerData.sdf;Password=p*vU^dJ1!EW&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>

</configuration>