<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="mexBehavior" name="CertificateAuthorityServiceLibrary.CertificateAuthorityService">
                <clear />
                <endpoint address="net.tcp://localhost:9898/CertificateAuthority"
                    binding="netTcpBinding" contract="CertificateAuthorityServiceLibrary.ICertificateAuthorityService"
                    listenUriMode="Explicit" />
                <endpoint address="basic" binding="basicHttpBinding" contract="CertificateAuthorityServiceLibrary.ICertificateAuthorityService"
                    listenUriMode="Explicit" />
                <endpoint address="ws" binding="ws2007HttpBinding" contract="CertificateAuthorityServiceLibrary.ICertificateAuthorityService"
                    listenUriMode="Explicit" />
                <endpoint address="net.pipe://localhost/CertificateAuthority"
                    binding="netNamedPipeBinding" contract="CertificateAuthorityServiceLibrary.ICertificateAuthorityService"
                    listenUriMode="Explicit" />
                <endpoint address="mex" binding="basicHttpBinding" bindingConfiguration=""
                    contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:9020/CertificateAuthority" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>