<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ServerDataEntities" connectionString="metadata=res://*/ServerDataModel.csdl|res://*/ServerDataModel.ssdl|res://*/ServerDataModel.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\ServerData.sdf;Password=p*vU^dJ1!EW&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>